

h1 {
 color: white;
 font-size: 40px;
 font-weight: bold;
 text-align: center;
 padding-top: 10px;
 margin-bottom: 30px;
 font-family: 'Barriecito', cursive;
}

p {
 color: white;
 font-size: 14px;
 margin-top: 0px;
 margin-bottom: 0px;
 text-align: center;
 position: relative;
 font-family: 'Barriecito', cursive;
}

h2 {
 margin-top: 5px;
 color: white;
 text-align: center;
 font-size: 40px;
 font-family: 'Barriecito', cursive;
}

.container {
 text-align: center;
}

#gameContainer {
 display: flex;
 flex-wrap: wrap;
 height: 200px;
 width: 180px;
 border-radius: 30%;
 border: 10px solid #111;
 margin: 50px auto;
 position: relative;
 box-shadow: 0px 0px 100px #333;
}

#infoBox {
 padding: 20px 20px 20px 20px;
 background-color: #444;
 cursor: pointer;
 border-radius: 16px;
}

.option {
 width: 50%;
 height: 50%;
 float: left;
 margin: auto;
 cursor: pointer;
}

.one {
 background-color: green;
 border-radius: 30% 0 0 0;
}

.two {
 background-color: red;
 border-radius: 0 30% 0 0;
}

.three {
  background-color: blue;
  border-radius: 0 0 0 30%;
}

.four {
  background-color: yellow;
  border-radius: 0 0 30% 0;
}