body{
 background-color: #777;
}

h1 {
 font-size: 50px;
 font-weight: bold;
 text-align: center;
 padding-top: 10px;
 margin-bottom: 30px;
 font-family: 'Barriecito', cursive;
 text-shadow: 2px 2px 5px black;
}

p {
 color: white;
 font-size: 14px;
 margin-top: 0px;
 margin-bottom: 0px;
 text-align: center;
 position: relative;
 font-family: 'Barriecito', cursive;
}

h2 {
 margin-top: 5px;
 color: white;
 text-align: center;
 font-size: 40px;
 font-family: 'Barriecito', cursive;
 text-shadow: 1px 1px black;
}

/* Custom buttons idea from https://www.designskilz.com/cool-css-buttons/*/
button {
 background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: relative;
  padding: 10px 18px;
  margin-bottom: 10px;
  top: 0;
  font-size: 1em;
  font-family: 'Barriecito', cursive;
  border-radius: 15px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 	27, 94, 32, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -5px;
  box-shadow: 0px 8px 8px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

button:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 27, 94, 32, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}


/* Header */

.header{
 font-weight: bolder;
 margin-top: 0.5em;
}

.header-flag-green{
 color: #1B5E20;
}
.header-flag-red{
 color: #B71C1C;
}
.header-flag-blue{
 color: #0D47A1;
}
.header-flag-yellow{
 color: #F57F17;
}


.container {
 text-align: center;
}

#gameContainer {
 display: flex;
 flex-wrap: wrap;
 height: 200px;
 width: 180px;
 border-radius: 30%;
 border: 10px solid #111;
 margin: 50px auto;
 position: relative;
 box-shadow: 0px 0px 100px #333;
}


.option-container{
 text-align: center;
 background-color:  rgba(192,192,192,0.1);
 border-radius: 16px;
 margin-top: 16px;
 padding: 20px 20px 20px 20px;
 box-shadow: 5px 5px rgba(192,192,192,0.3);
}


.startButton{
 cursor: pointer;
}

.option {
 width: 50%;
 height: 50%;
 float: left;
 margin: auto;
 cursor: pointer;
}

.level-container{
 text-align: center; 
}
#level {
 display: inline-block;
}
/* Colours */

.one {
 background-color: #1B5E20;
 border-radius: 30% 0 0 0;
}

.two {
 background-color: #B71C1C;
 border-radius: 0 30% 0 0;
}

.three {
  background-color: #0D47A1;
  border-radius: 0 0 0 30%;
}

.four {
  background-color: #F57F17;
  border-radius: 0 0 30% 0;
}

.colourBlind1 {
  background-color: #332288;
  border-radius: 30% 0 0 0;
}

.colourBlind2 {
  background-color: #44AA99;
  border-radius: 0 30% 0 0;
}

.colourBlind3 {
  background-color: #AA3F99;
  border-radius: 0 0 0 30%;
}

.colourBlind4 {
  background-color: #DDCC77;
  border-radius: 0 0 30% 0;
}


